@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap");
body {
  font-family: "Saira Semi ", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1615114330313-d03ba56436a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1376&q=80);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
h1,
h2 {
  margin: 10px;
  padding: 0px;
  color: bisque;
  font-size: 2em;
}

ul {
  margin: 0px;
  position: relative;
  z-index: 200;
}
li:first-child {
  margin-left: auto;
}

a {
  font-size: 1.18rem;
  color: inherit;
  text-decoration: none;
  padding: 1.8em;
}

a:hover,
li:hover {
  margin-bottom: 6px;
  color: darkgray;
}
button {
  padding: 1em 3em;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  border: 1.6px solid greenyellow;
}
button:hover {
  color: green;
}
@media screen and (max-width: 500px) {
  body {
    background-position: center;
  }
  button {
    padding: 0.4em 1.3em;
    margin-top: 10px;
  }
  li a {
    padding: 0.5em;
    font-size: 0.9em;
  }
  ul {
    justify-content: space-around;
  }
  li:first-child {
    margin: 0px;
  }
  h1,
  h2 {
    font-size: 1.1em;
    text-align: center;
  }
}
